<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Heroes 3 simulation</title>
    <link rel="stylesheet" href="../style/waitRoom.css">
  </head>
  <body>
    <div class="wait-overflow">
      <div class="wait-overflow__status-bar">
        <div class="background-wrapper">
          <h3 class="wait-overflow__status">
            Дъяволы вторглись в эти земли, и пришло время отвоевать Райский
            Мандат обратно для нерешительной династии АйронФист
          </h3>
          <a href="waitRoom.html" class="btn">Начать игру</a>
        </div>
      </div>
    </div>
  </body>
</html>
