<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/waitRoom.css" />
    <link rel="stylesheet" href="../style/test.css" />
  </head>
  <body>
    <p id="image" class="unit-image unit-first unit-first-5"></p>

    <!-- <p id="image" class="unit-image unit-first unit-first-4">
      Cerberus
    </p>

    <p id="image" class="unit-image unit-first unit-first-3">
      Hell Hound
    </p>

    <p id="image" class="unit-image unit-first unit-first-2">
      Horned Demon
    </p>

    <p class="health-bar health-unit-first health-unit-first-1">100</p>
    <p id="image" class="unit-image unit-first unit-first-1">
      Imp
    </p>

    <p id="image" class="unit-image unit-second unit-second-5">
      Unicorn
    </p>

    <p class="health-bar health-unit-second health-unit-second-4">100</p>
    <p id="image" class="unit-image unit-second unit-second-4">
      Druid
    </p>

    <p id="image" class="unit-image unit-second unit-second-3">
      Hunter
    </p>

    <p id="image" class="unit-image unit-second unit-second-2">
      Blade Dancer
    </p>

    <p id="image" class="unit-image unit-second unit-second-1">
      Pixie
    </p> -->
    <script src="../js/test.js"></script>
  </body>
</html>
