body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

polygon {
    fill: rgba(0, 0, 0, 0.7) !important
}

svg {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-45%, -50%)
}

g {
    stroke: #89ff79;
}

.available polygon {
    fill: black !important;
}

.available polygon:hover {
    fill: greenyellow !important
}

.active polygon {
    fill: transparent !important;
}

text {
    font-size: 93px;
    color: red;
    fill: red;
    display: none;
}

.wait-overflow {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    visibility: visible;
    opacity: 1;
    background-image: url("../assets/fog.png");
    background-repeat: repeat;
    transition: all .5s linear;
}

.wait-overflow.fadeOut {
    opacity: 0;
    visibility: hidden;
}

.wait-overflow .wait-overflow__status-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/panelbg.jpg");
    background-repeat: repeat;
    width: 420px;
    height: 182px;
    text-align: center;
    padding: 40px 20px;
    z-index: 9999;
}

.wait-overflow .background-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 420px;
    transform: translate(-50%, -50%);
    height: 194px;
    padding: 40px 20px;
    background-image: url("../assets/Background.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: inherit;
}

.wait-overflow .background-wrapper .btn {
    padding: 10px;
    background-image: url("../assets/panelbg.jpg");
    border-top: 2px solid rgba(221, 221, 221, .7);
    border-left: 2px solid rgba(221, 221, 221, .7);
    border-bottom: 3px solid rgba(0, 0, 0, .6);
    border-right: 3px solid rgba(0, 0, 0, .6);
    outline: 1px solid rgba(255, 255, 126, 0.6);
    background-position: 10px 20px;
    color: rgb(221, 221, 221);
    font-size: 20px;
    text-decoration: none;
}

.wait-overflow .wait-overflow__status-bar .wait-overflow__status {
    color: rgb(206, 206, 206);
    margin: 30px 10px 50px 10px;
}

.win-overflow {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    background: transparent;
    transition: all .5s linear;
}

.win-overflow.fadeIn {
    opacity: 1;
    visibility: visible;
}

.win-overflow .win-overflow__status-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    border: 1px solid white;
    padding: 40px 20px;
    color: white;
}

.attack-animition-overflow {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    background: transparent;
}

.attack-animition-overflow.fadeIn {
    opacity: 1;
    visibility: visible;
}

.turnTimer {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
}

.turnTimer .timer-date {
    font-family: sans-serif;
    font-size: 40px;
    color: black;
}

.grid-container {
    position: relative;
    min-height: 100vh !important;
}

.grid-container::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: url('../assets/locations/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh !important;
}

.grid-container .diagram-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
}

.grid-container .diagram-wrapper #diagram-movement-range {
    position: absolute;
    height: 80%;
    width: 90%;
    top: 5%;
    left: 20%;
    margin: 0;
}

.health-bar {
    position: absolute;
    background: #4e2570;
    color: white;
    border: 1px solid white;
    height: 20px;
    width: 50px;
    opacity: 1;
    visibility: visible;
    text-align: center;
    pointer-events: none;
    z-index: 99998;
}

.health-bar.fadeOut {
    opacity: 0;
    visibility: hidden;
}

.unit-image {
    position: absolute;
    height: 90px;
    width: 90px;
    margin: 0;
    z-index: 99998;
}

.unit-first {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#image {
    background-image: url('../assets/Ghost-Files/GIFS/ghost-idle.gif');
    background-size: 450px auto;
    background-position: -181px -153px;
    background-repeat: no-repeat;
    pointer-events: none;
    user-select: none;
}

/* .unit-second-5 {
    background-image: url('../assets/Ghost-Files/GIFS/ghost-vanish.gif') !important;
    background-size: 450px auto;
    background-position: -181px -153px;
    background-repeat: no-repeat;
}

.unit-second-2 {
    background-image: url('../assets/Ghost-Files/GIFS/ghost-idle.gif') !important;
    background-size: 450px auto;
    background-position: -181px -153px;
    background-repeat: no-repeat;
}

.unit-second-3 {
    background-image: url('../assets/Fire-Skull-Files/GIF/fire-skull.gif') !important;
    background-size: 100px auto !important;
    background-position: -5px -15px !important;
    background-repeat: no-repeat;
}

.unit-first-1 {
    background-image: url("../assets/demon-Files/GIFS/demon-attack.gif") !important;
    background-size: 400px auto !important;
    background-position: -81px -40px !important;
    background-repeat: no-repeat;
    top: 30px !important;
    height: 237px;
    width: 247px;
    transform: scaleX(-1);
} */

/* .unit-second-1 {
    background-image: url("../assets/demon-Files/GIFS/demon-idle.gif") !important;
    background-size: 400px auto !important;
    background-position: -81px -40px !important;
    background-repeat: no-repeat;
    top: 30px !important;
    height: 237px;
    width: 247px;
    transform: none;
} */

#image.on-hover-image {
    border: 2px solid red;
}

#image.active-unit {
    border: 2px solid greenyellow;
}

#image.attacked {
    border: 2px solid blueviolet;
}

/* .boss-1 {
    position: absolute;
    height: 200px;
    width: 300px;
    background: url("../assets/pipo-boss004.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 99999;
} */