body {
    margin: 0;
    padding: 0;
}

.canvas-container {
    background: url("./battlefields/Dragon\ Bones/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#hexagon-grid {
    position: absolute;
    z-index: 9;
}

#units {
    z-index: 10;
    user-select: none;
    pointer-events: none;
}